<form
  action="/plantas/listar"
  method="POST"
  enctype="multipart/form-data"
  class="ml-5">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <label for="nombre" class="label">Nombre de la planta</label>
  <input
    class="input is-info"
    type="text"
    placeholder="Orquídea"
    id="nombre"
    name="nombre" />
  <br /><br />
  <div class="file">
    <label for="imagen" class="file-label">
      <input
        type="file"
        class="file-input"
        id="imagen"
        name="imagen"
        accept=".jpg, .png, .jpeg" />
      <span class="file-cta">
        <span class="file-label"> Escoge una imagen… </span>
      </span>
    </label>
  </div>
  <input class="button is-danger" type="submit" value="Enviar" />
</form>
