<div class="notification is-danger has-text-centered">
  <h1 class="title">WELCOME!</h1>
  <li>
    ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?
  </li>
  <p>
    Separación de responsabilidades, reutilización de código y mayor seguridad
  </p>
  <li>¿Qué es SQL injection y cómo se puede prevenir?</li>
  <p>
    Tipo de hack en el que un atacante inserta código SQL con poder de manipular
    la base de datos, lo que permitiría acceder a datos no autorizados o
    modificar o eliminar datos.
  </p>
</div>
