<div class="notification is-danger has-text-centered">
  <h1 class="title">WELCOME!</h1>
  <li>¿Qué beneficios encuentras en el estilo MVC?</li>
  <p>
    Que se pueden reutilizar partes del código, para no reescribir o estar
    propensos a cometer errores. Las responsabilidades se encuentran separadas y
    es más fácil mantener el código
  </p>
  <li>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</li>
  <p>
    Se tienen más archivos y carpetas, entre los cuáles podría ser difícil
    recordar en cuál va cada cosa mientras uno se acostumbra a trabajar con el
    modelo.
  </p>
</div>
