<div class="notification is-danger has-text-centered">
  <h1 class="title">WELCOME!</h1>
  <li>¿Qué otros templating engines existen para node?</li>
  <p>
    Pug, Handlebars, Mustache o más avanzados como Nunjucks, Liquid, Marko, etc.
  </p>
</div>
