body {
  background-image: url(https://i.pinimg.com/originals/7d/98/84/7d98840fdff1b2e7cd508cc7f3a17403.jpg);
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: ivory;
  padding: 5px 15px;
  border-radius: 10px;
}
#main-title {
  text-align: center;
}
#body {
  padding: 10px;
}
.answers {
  color: #8a2be2;
}
